go 1.20

use (
	./go/airport-robot
	./go/animal-magic
	./go/bird-watcher
	./go/booking-up-for-beauty
	./go/card-tricks
	./go/chessboard
	./go/election-day
	./go/elons-toys
	./go/gross-store
	./go/lasagna-master
	./go/logs-logs-logs
)
